{# ultras-book.html.twig #}
{#{{ dump() }}#}
<div class="book">
    <p>{{ book.title ?? 'title' }}</p>
    <p> Book by {{ book.author ?? 'author' }}</p>
    {# Add other book properties here as needed #}
</div>
