<div>
    <h2>Preprocessing for Template Files</h2>
    <br>
    <p>
        Several functions are called before the template file is invoked to modify the variables that are passed to the
        template. These make up the "preprocessing" phase, and are executed (if they exist), in the following order
        (note that in the following list, HOOK indicates the hook being called or a less specific hook. For example, if
        '#theme' => 'node__article' is called, hook is node__article and node. MODULE indicates a module name, THEME
        indicates a theme name, and ENGINE indicates a theme engine name). Modules, themes, and theme engines can
        provide these functions to modify how the data is preprocessed, before it is passed to the theme template:
    </p>
    <ul>
        <li>template_preprocess(&$variables, $hook): Creates a default set of variables for all theme hooks with
            template implementations. Provided by Drupal Core.
        </li>
        <li>template_preprocess_HOOK(&$variables): Should be implemented by the module that registers the theme hook, to
            set up default variables.
        </li>
        <li> MODULE_preprocess(&$variables, $hook): hook_preprocess() is invoked on all implementing modules.</li>
        <li>MODULE_preprocess_HOOK(&$variables): hook_preprocess_HOOK() is invoked on all implementing modules, so that
            modules that didn't define the theme hook can alter the variables.
        </li>
        <li>ENGINE_engine_preprocess(&$variables, $hook): Allows the theme engine to set necessary variables for all
            theme
            hooks with template implementations.
        </li>
        <li>
            ENGINE_engine_preprocess_HOOK(&$variables): Allows the theme engine to set necessary variables for the
            particular theme hook.
        </li>
        <li>
            THEME_preprocess(&$variables, $hook): Allows the theme to set necessary variables for all theme hooks with
            template implementations.
        </li>
        <li>
            THEME_preprocess_HOOK(&$variables): Allows the theme to set necessary variables specific to the particular
            theme
            hook.
        </li>
    </ul>
    {% if is_ultras_css_module_enabled %}
        {{ 'is_ultras_css_module_enabled variable is set -> ' ~ is_ultras_css_module_enabled ~ '.' }}
    {% else %}
        {{ 'is_ultras_css_module_enabled is not set !' }}
    {% endif %}

</div>